<h1>Aloe there! Create a plant!</h1>

<form method="post" action="/plants">
    <p>Enter the type of plant</p>
    <textarea name="species"></textarea>
    <p>Select the size</p>
    <select name="size">
        <option>Big</option>
        <option>Medium</option>
        <option>Small</option>
    </select>
    <input type="submit" value="Create Plant!" />
</form>

